################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AstroVeridia/FileContentIndex/afa3c044-48b2-420e-b0f6-c1a796afa04d.vsidx
/.vs/AstroVeridia/FileContentIndex/3ccde4a5-e807-4dac-8cbf-2683879b74c9.vsidx
