################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AstroVeridia/FileContentIndex/3edc8076-2622-4a35-9b25-bd9d602a970e.vsidx
/.vs/AstroVeridia/FileContentIndex/2e08add8-db36-4c3b-826f-c3ed2cca4eab.vsidx
